.notificationBarContainer {
  background-color: #e6f1e6;
  color: #03034e;
  font-weight: 700;
  font-size: 12px;
  text-decoration: underline;
}
.container{
  width: 1280px;

}

.infoCardContainer--info-card-home {
  max-width: 1520px;
  margin: 0 auto;
  background-color: #e6f1e6;
  padding: 0px;
}

.newsletter {
  background-color: #03054e;
  max-width: 1528px;
  margin: 0 auto;
}

.newsletter .container {
  padding: 60px 10px;
}

.label {
  color: #fff;
  font-size: 26px;
}

.inputGroup {
  padding-bottom: 4px;
  display: flex;
  color: #fff;
}

.inputGroup :global(.vtex-styleguide-9-x-hideDecorators) {
  background-color: transparent;
  color: #fff;
  border: none;
}

.inputGroup :global(.vtex-styleguide-9-x-hideDecorators)::placeholder {
  color: #fff;
  font-size: 16px;
}

.inputGroup :global(.vtex-button) {
  background-color: transparent;
  color: #fff;
  border: none;
  margin-right: -24px;
}

.buttonContainer {
  padding-top: 0px;
}

.imageElement--storePrint {
  max-height: 300px;
  margin-bottom: 20px;
}

.skuSelectorContainer {
  margin: 1rem 0;
}
.shippingContainer :global(.vtex-input__label){
  font-size: 0;
}
.shippingContainer :global(.vtex-input__label)::after{
  content: "Frete e prazo:";
  color: #393939;
  /* font-family: Nunito; */
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.shippingContainer :global(.vtex-button__label){
  font-size: 0;
}
.shippingContainer :global(.vtex-button){
    border-radius: 8px;
    border: 1px solid #7D6761;
    width: 98px;
    height: 45px;
    flex-shrink: 0;
    margin-top: 40px;
    background: transparent;
}
.shippingContainer{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;

}
.shippingContainer :global(.vtex-address-form__postalCode-forgottenURL){
  display: none;
}
.shippingContainer :global(.vtex-input-prefix__group){
  border-radius: 8px;
  border: 1px solid #7D6761;
  width: 226px;
  margin-top: 20px;
  height: 45px;
}
.shippingContainer :global(.vtex-address-form__postalCode){
  padding: 0;
}
.shippingContainer :global(.vtex-button__label)::after{
  content:"Buscar";
  color: #929292;
  text-transform: capitalize;
  /* font-family: Nunito; */
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

/* Css imagem produto*/

.carouselGaleryThumbs :global(.vtex-store-components-3-x-productImagesThumbActive) :global(.vtex-store-components-3-x-thumbImg){
  border-radius: 18px;
  border: 1px solid #FF8F03 !important;
}
.carouselGaleryThumbs :global(.vtex-store-components-3-x-productImagesThumb) :global(.vtex-store-components-3-x-thumbImg){
  border-radius: 18px;
  border: 1px solid #E6E6E6;
}
.carouselGaleryThumbs :global(.vtex-store-components-3-x-productImagesThumb){
  margin-left: 19px;
}

/* Logo header*/
.logoImage--almah-header-2{
  width: 176px;
  height: auto;
}
:global(.vtex-store-components-3-x-searchBarInnerContainer--almah-header-2) :global(.vtex-input-prefix__group){
  width: 738px;
  height: 45px;
  flex-shrink: 0;
  border-radius: 10px;
  background: #FFF;
}


@media only screen and (max-width: 640px) {
  .container{
    width: 100%;
  }
  .newsletter .container {
    padding: 140px;
  }
  .label {
     font-size: 40px;
  }
  .infoCardContainer--info-card-home .infoCardTextContainer {
    width: 30%;
  }
  .infoCardContainer--info-card-home .infoCardImageContainer {
    width: 70%;
  }
  .imageElement--storePrint {
    margin-bottom: 0px;
    max-height: 600px;
  }
}

.productImagesContainer--quickview .carouselContainer {
  justify-content: flex-start;
}

.productImagesContainer--quickview .productImageTag {
  object-fit: cover !important;
}

.productImagesContainer--quickview .carouselGaleryThumbs {
  display: none;
}

.productImagesContainer--quickview .carouselGaleryCursor {
  margin: 0;
  padding: 0;
  width: 100%;
}

.productNameContainer {
  color: #000;
  /* font-family: Nunito; */
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}

.image {
  image-rendering: -webkit-optimize-contrast;
}
